---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc*,-*-braces-around-statements,-*-identifier-length,-*-unroll-loops'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none
